<ion-view title="Kalkulator">
  <ion-nav-buttons side="right">
	  <button class="button icon icon-right ion-ios-arrow-right button-clear" ng-class="{hidden: stepId>=6}" ng-click="lanjut(stepId)">
	  	Next
	  </button>
	  <button class="button button-clear" ng-class="{hidden: stepId<6}" ng-click="hitung()">
	  	Hitung <i class="ion-icon ion-ios-arrow-right"></i>
	  </button>
  </ion-nav-buttons>
  <ion-content class="page calc has-header">

    <!-- Langkah Ke-1 -->
    <div id="step1" ng-show="stepId == 1">
    <div class="list card">
	  <ion-item class="item-divider">Langkah 1 - Tarikah</ion-item>
	  <ion-item class="item-text-wrap">
	  Hal yang pertama kali dilakukan dalam faro'idh adalah menghitung seluruh harta yang dimiliki si mayit atau yang dikenal dengan sebutan Tarikah atau Tirkah.
		<p>{{harta}}</p>
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">Tarikah</span>
	  	<input ng-model="inp.harta" type="number" placeholder="Masukkan Tarikah" value="0" min="0">
	  </ion-item>
	</div><!-- /.list.card -->
	</div>


    <!-- Langkah Ke-2 -->
    <div id="step2" ng-show="stepId == 2">
	<div class="list card">
	  <ion-item class="item-divider">Langkah 2 - Hak-hak Muwaris</ion-item>
	  <ion-item class="item-text-wrap">
	  Ada hak-hak yang harus dipenuhi sebelum melakukan penghitungan waris. Hak-hak ini diambil dari harta tarikah yang nantinya diperoleh harta irst, yaitu harta yang siap dibagikan kepada ahli waris. Isian di bawah ini boleh tidak diisi. Isi dengan angka tanpa tanda baca.
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">Hutang (Terkait Tarikah)</span>
	  	<input ng-model="inp.hak1" type="number" placeholder="Hutang (Terkait Tarikah)" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">Hutang (Tidak Terkait Tarikah)</span>
	  	<input ng-model="inp.hak2" type="number" placeholder="Masukkan Hutang" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">Biaya penyelenggaraan jenazah</span>
	  	<input ng-model="inp.hak3" type="number" placeholder="Masukkan Biaya" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">Wasiat (Maks. 1/3 Tarikah)</span>
	  	<input ng-model="inp.hak4" type="number" placeholder="Masukkan Wasiat" value="0" min="0">
	  </ion-item>
	</div><!-- /.list.card -->
	</div>

	<!-- Langkah Ke-3 -->
    <div id="step3" ng-show="stepId == 3">
	<div class="list card">
	  <ion-item class="item-divider">Langkah 3 - Ahli Waris (Anak)</ion-item>
	  <ion-item class="item-text-wrap">
		Isi berapa banyak setiap ahli waris yang ditinggalkan si Mayit.
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">1. Anak Laki-laki</span>
	  	<input ng-model="inp.putra" type="number" placeholder="Anak Laki-laki" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">2. Anak Perempuan</span>
	  	<input ng-model="inp.putri" type="number" placeholder="Anak Perempuan" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">3. Cucu Laki dari Anak Laki</span>
	  	<input ng-model="inp.cucuLk" type="number" placeholder="Cucu Laki dari Anak Laki" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">4. Cucu Perempuan dari Anak Laki</span>
	  	<input ng-model="inp.cucuPr" type="number" placeholder="Cucu Perempuan dari Anak Laki" value="0" min="0">
	  </ion-item>
	</div><!-- /.list.card -->
	</div>

	<!-- Langkah Ke-4 -->
    <div id="step4" ng-show="stepId == 4">
	<div class="list card">
	  <ion-item class="item-divider">Langkah 4 - Ahli Waris (Keluarga)</ion-item>
	  <ion-item class="item-text-wrap">
		Isi berapa banyak setiap ahli waris yang ditinggalkan si Mayit.
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">5. Bapak</span>
	  	<input ng-model="inp.bapak" type="number" placeholder="Bapak" value="0" min="0" max="1">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">6. Ibu</span>
	  	<input ng-model="inp.ibu" type="number" placeholder="Ibu" value="0" min="0" max="1">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">7. Suami</span>
	  	<input ng-model="inp.suami" type="number" placeholder="Suami" value="0" min="0" max="1">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">8. Istri</span>
	  	<input ng-model="inp.istri" type="number" placeholder="Istri" value="0" min="0" max="4">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">9. Kakek</span>
	  	<input ng-model="inp.kakek" type="number" placeholder="Kakek" value="0" min="0" max="1">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">10. Nenek (dari Bapak)</span>
	  	<input ng-model="inp.nenekB" type="number" placeholder="Nenek (dari Bapak)" value="0" min="0" max="1">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">11. Nenek (dari Ibu)</span>
	  	<input ng-model="inp.nenekI" type="number" placeholder="Nenek (dari Ibu)" value="0" min="0" max="1">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">12. Nenek (dari Kakek)</span>
	  	<input ng-model="inp.nenekK" type="number" placeholder="Nenek (dari Kakek)" value="0" min="0" max="1">
	  </ion-item>
	</div><!-- /.list.card -->
	</div>

	<!-- Langkah Ke-5 -->
    <div id="step5" ng-show="stepId == 5">
	<div class="list card">
	  <ion-item class="item-divider">Langkah 5 - Ahli Waris (Saudara)</ion-item>
	  <ion-item class="item-text-wrap">
		Isi berapa banyak setiap ahli waris yang ditinggalkan si Mayit.
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">13. Saudara Kandung</span>
	  	<input ng-model="inp.saudaraK" type="number" placeholder="Saudara Kandung" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">14. Saudari Kandung</span>
	  	<input ng-model="inp.saudariK" type="number" placeholder="Saudari Kandung" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">15. Saudara Sebapak</span>
	  	<input ng-model="inp.saudaraB" type="number" placeholder="Saudara Sebapak" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">16. Saudari Sebapak</span>
	  	<input ng-model="inp.saudariB" type="number" placeholder="Saudari Sebapak" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">17. Saudara Seibu</span>
	  	<input ng-model="inp.saudaraI" type="number" placeholder="Saudara Seibu" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">18. Saudari Seibu</span>
	  	<input ng-model="inp.saudariI" type="number" placeholder="Saudari Seibu" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">19. Putra Saudara Kandung</span>
	  	<input ng-model="inp.putraSK" type="number" placeholder="Putra Saudara Kandung" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">20. Putra Saudara Sebapak</span>
	  	<input ng-model="inp.putraSB" type="number" placeholder="Putra Saudara Sebapak" value="0" min="0">
	  </ion-item>
	</div><!-- /.list.card -->
	</div>

	<!-- Langkah Ke-6 -->
    <div id="step6" ng-show="stepId == 6">
	<div class="list card">
	  <ion-item class="item-divider">Langkah 6 - Ahli Waris (Alternatif)</ion-item>
	  <ion-item class="item-text-wrap">
		Isi berapa banyak setiap ahli waris yang ditinggalkan si Mayit.
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">21. Paman Kandung</span>
	  	<input ng-model="inp.pamanK" type="number" placeholder="Paman Kandung" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">22. Paman Sebapak</span>
	  	<input ng-model="inp.pamanB" type="number" placeholder="Paman Sebapak" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">23. Putra Paman Kandung</span>
	  	<input ng-model="inp.putraPK" type="number" placeholder="Putra Paman Kandung" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">24. Putra Paman Sebapak</span>
	  	<input ng-model="inp.putraPB" type="number" placeholder="Putra Paman Sebapak" value="0" min="0">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">25. Laki-laki yang Memerdekakan</span>
	  	<input ng-model="inp.pria" type="number" placeholder="Laki-laki yang Memerdekakan" value="0" min="0" max="1">
	  </ion-item>
	  <ion-item class="item-input">
	  	<span class="input-label">26. Perempuan yang Memerdekakan</span>
	  	<input ng-model="inp.wanita" type="number" placeholder="Laki-laki yang Memerdekakan" value="0" min="0" max="1">
	  </ion-item>
  </div><!-- /.list.card -->
  </div>
    
  </ion-content>
</ion-view>
